.information{
  width: calc(100vw - 680px)
}

.backZone{
  display: flex;
  justify-content: flex-end;
}

.back{
  width: 105px;
  height: 67px;
  border-radius: 1000px;
  border: nonae;
  background: #105666;
  margin-top: 36px;
  margin-right: 36px;
}

.addPlant{
  width: 100px;
  height: 100px;
  border-radius: 1000px;
  border: none;
  background: #105666;
  position: absolute;
  z-index: 2;
  bottom: 10px;
  left: 36px;
}

.mainBlock{
  position: relative;
}

.plantName{
  font-size: 40px;
  font-family: "Oi", serif;
}

.PlantImg{
  width: 381px;
  height: 313px;
  border-radius: 36px;
  background: #F7F4D5;
  margin: 132px;
  margin-top: 37px;
  margin-bottom: 0;
}

.plantCard{
  border-radius: 5px;
  background: #839958;
  height: 770px;
  width: 645px;
  margin: auto;
  margin-top: 76px;
  color: #0A3323;
}
.genInf{
  margin: 35px;
  font-family: "Oswald", sans-serif;
  font-weight: lighter;
  font-size: 40px;
  padding-bottom: 30px;
}

.setBut{
    color: #C2E6D1;
    background: none;
    border: none;
    font-size: 32px;
    font-family: "Oswald", sans-serif;
    font-weight: lighter;
    padding: 0;
}

.waterBut{
    display: flex;
}

.wateringNow{
    color: #F7F4D5;
    font-size: 32px;
    font-family: "Oi", serif;
    background: #0A3323;
    width: 444px;
    height: 90px;
    border-radius: 30px;
    margin: auto;
    margin-top: 60px;
}